
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 74%;
    color: #6070ff;
    cursor: pointer;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu img {
    width: auto;
    height: auto;
  }

  .intro h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 4rem;
    font-weight: bold;
    fill: #172b174d;
  }

  .intro p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 2rem;
    vertical-align: top;
  }

  .connect {
    color: #6070ff;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 90%;
    background-image: url("header-shapes mobile.png");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
  }
}
